@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

@using EntitySolution.Domain.Common
<h2>Sản Phẩm</h2>
<script>
    var isAddNew = false;
    var isUploadImageSuccess = false;
    var jqXHRData;
    var CategoryList = null;
    var curPageIndex = 0;
    $(document).ready(function () {
        LoadAllItem('0');
        LoadAllCategory();
        initSimpleFileUpload();

        $("#itemFileUpload").change(function () {
            if (isUploadImageSuccess) {
                previewFile(this,'1');
                isUploadImageSuccess = false
            }

        });

        $("#itemFileUpload2").change(function () {
            if (isUploadImageSuccess) {
                previewFile(this, '2');
                isUploadImageSuccess = false
            }

        });

        $("#itemFileUpload3").change(function () {
            if (isUploadImageSuccess) {
                previewFile(this, '3');
                isUploadImageSuccess = false
            }

        });

        $("#itemFileUpload4").change(function () {
            if (isUploadImageSuccess) {
                previewFile(this, '4');
                isUploadImageSuccess = false
            }

        });

        $("#btnUploadImage").click(function () {
            $("#itemFileUpload").trigger("click");

        });

        $("#btnUploadImage2").click(function () {
            $("#itemFileUpload2").trigger("click");

        });

        $("#btnUploadImage3").click(function () {
            $("#itemFileUpload3").trigger("click");

        });

        $("#btnUploadImage4").click(function () {
            $("#itemFileUpload4").trigger("click");

        });

        $("#itemActive").bootstrapSwitch();

        $("#itemHot").bootstrapSwitch();

        CKEDITOR.replace('itemDescription');
        CKEDITOR.replace('itemDescription2');

        CKEDITOR.replace('itemSpecification');
        CKEDITOR.replace('itemSpecification2');

        CKEDITOR.replace('itemFeatures');
        CKEDITOR.replace('itemFeatures2');

        $("#btnAddNew").click(function () {
            if (isAddNew === false) {
                isAddNew = true;
                ClearModal();
            }

            $("#itemID").val("-1");

            $("#modalDetailsInformation").modal("show");
        });

        $("#btnModalSave").click(function (e) {
            e.preventDefault();

            SaveItem();
        });

        $("#btnModalCancel").click(function (e) {
            e.preventDefault();

            ClearModal();
        });

        $("#btnConfirmDelete").click(function (e) {
            e.preventDefault();
            DeleteItem();
        });

    });// end of document ready


    function LoadAllCategory() {

        $.ajax({
            url: '@Url.Action("LoadAllCategory", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sCategoryStatus": '@((int)Var.DefaultValueInComboBox)' }),
            success: function (data) {


                CategoryList = data.returnList;
                BindDataToCategoryComboBox(CategoryList, null);


            }
        });

    };

    function BindDataToCategoryComboBox(ListCategory, sDefaultValue) {
        $("#cboCategory").html("");
        var gridTableHtml = "";

        $.each(ListCategory, function (index, item) {

            if (sDefaultValue != null) {
                if (item.CategoryID == sDefaultValue) {

                    gridTableHtml += "<option value=\"" + item.CategoryID + "\" selected>" + item.CategoryName + "</option>";
                }
                else {
                    gridTableHtml += "<option value=\"" + item.CategoryID + "\">" + item.CategoryName + "</option>";
                }
            }
            else {
                if (index == '0') {
                    gridTableHtml += "<option value=\"" + item.CategoryID + "\" selected>" + item.CategoryName + "</option>";
                }
                else {
                    gridTableHtml += "<option value=\"" + item.CategoryID + "\">" + item.CategoryName + "</option>";
                }
            }


        });

        $("#cboCategory").html(gridTableHtml);
    }

    function initSimpleFileUpload() {
        'use strict';

        $('#itemFileUpload').fileupload({
            url: '@Url.Action("UploadFile", "AdminPage")',
          
            dataType: 'json',
            maxFileSize: 10240000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            add: function (e, data) {

                if (data.files[0].size > 10240000) {
                    alert("Chỉ cho phép upload ảnh dưới 10MB.");
                }
                else {
                    isUploadImageSuccess = true;
                    jqXHRData = data
                    if (jqXHRData) {
                        jqXHRData.submit();
                    }
                }

                return false;

            },
            done: function (event, data) {
                 
            },
            fail: function (event, data) {
                
            }
        });

        $('#itemFileUpload2').fileupload({
            url: '@Url.Action("UploadFile2", "AdminPage")',
            dataType: 'json',
            maxFileSize: 10240000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            add: function (e, data) {

                if (data.files[0].size > 10240000) {
                    alert("Chỉ cho phép upload ảnh dưới 10MB.");
                }
                else {
                    isUploadImageSuccess = true;
                    jqXHRData = data
                    if (jqXHRData) {
                        jqXHRData.submit();
                    }
                }

                return false;

            },
            done: function (event, data) {

            },
            fail: function (event, data) {

            }
        });


        $('#itemFileUpload3').fileupload({
            url: '@Url.Action("UploadFile3", "AdminPage")',
            dataType: 'json',
            maxFileSize: 10240000,
            
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            add: function (e, data) {

                if (data.files[0].size > 10240000) {
                    alert("Chỉ cho phép upload ảnh dưới 10MB.");
                }
                else {
                    isUploadImageSuccess = true;
                    jqXHRData = data
                    if (jqXHRData) {
                        jqXHRData.submit();
                    }
                }

                return false;

            },
            done: function (event, data) {

            },
            fail: function (event, data) {

            }
        });

        $('#itemFileUpload4').fileupload({
            url: '@Url.Action("UploadFile4", "AdminPage")',
            dataType: 'json',
            maxFileSize: 10240000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            add: function (e, data) {

                if (data.files[0].size > 10240000) {
                    alert("Chỉ cho phép upload ảnh dưới 10MB.");
                }
                else {
                    isUploadImageSuccess = true;
                    jqXHRData = data
                    if (jqXHRData) {
                        jqXHRData.submit();
                    }
                }

                return false;

            },
            done: function (event, data) {

            },
            fail: function (event, data) {

            }
        });
    }

    function ClearModal() {
        $("#itemName").val("");
        $("#itemName2").val("");
        $('#itemActive').bootstrapSwitch('state', false);
        $('#itemHot').bootstrapSwitch('state', true);
        CKEDITOR.instances.itemDescription.setData('<p>Mô tả sản phẩm bằng tiếng việt.</p>');
        CKEDITOR.instances.itemDescription2.setData('<p>Mô tả sản phẩm bằng tiếng anh.</p>');

        CKEDITOR.instances.itemSpecification.setData('<p>Thông tin sản phẩm bằng tiếng việt.</p>');
        CKEDITOR.instances.itemSpecification2.setData('<p>Thông tin sản phẩm bằng tiếng anh.</p>');

        CKEDITOR.instances.itemFeatures.setData('<p>Đặc tính kỹ thuật bằng tiếng việt.</p>');
        CKEDITOR.instances.itemFeatures2.setData('<p>Đặc tính kỹ thuật bằng tiếng anh.</p>');

        $("#itemPrice").val("");
        $("#itemCondition").val("");
        $("#itemPrice2").val("");
        $("#itemCondition2").val("");
        $("#itemKeySearch").val("");
        $('#itemImage').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
        $('#itemImage2').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
        $('#itemImage3').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
        $('#itemImage4').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
    }


    function SaveItem() {
        var cActive = "0";
        var cHot = "0";
        var description = CKEDITOR.instances.itemDescription.getData();
        var description2 = CKEDITOR.instances.itemDescription2.getData();

        var itemSpecification = CKEDITOR.instances.itemSpecification.getData();
        var itemSpecification2 = CKEDITOR.instances.itemSpecification2.getData();

        var itemFeatures = CKEDITOR.instances.itemFeatures.getData();
        var itemFeatures2 = CKEDITOR.instances.itemFeatures2.getData();

        if ($('#itemActive').bootstrapSwitch('state')) {
            cActive = "1";
        }

        if ($('#itemHot').bootstrapSwitch('state')) {
            cHot = "1";
        }

        var itemInfor = {
            ItemID: $("#itemID").val(),
            ItemName: $("#itemName").val(),
            ItemName2: $("#itemName2").val(),
            CategoryID: $("#cboCategory").val(),
            CategoryName: $("#cboCategory option:selected").text(),
            Description: description,
            Description2: description2,
            ItemSpecification: itemSpecification,
            ItemSpecification2: itemSpecification2,
            ItemFeatures: itemFeatures,
            ItemFeatures2: itemFeatures2,
            ItemPrice: $("#itemPrice").val(),
            ItemCondition: $("#itemCondition").val(),
            ItemPrice2: $("#itemPrice2").val(),
            ItemCondition2: $("#itemCondition2").val(),
            Active: cActive,
            Hot: cHot,
            FolderID: $("#FolderID").val(),
            KeySearch: $("#itemKeySearch").val(),
        }

        if (isAddNew) {
            $.ajax({
                url: '@Url.Action("AddNewItem", "AdminPage")',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                dataType: "json",               
                data: JSON.stringify({ "itemInfor": itemInfor }),
                success: function (data) {

                    if (data.success === true) {
                        isAddNew = false;
                        FillDataToGridTableHtml(data.returnList, data.PageCount, data.HasPreviousPage, data.HasNextPage);
                    }
                    else {
                        $("#lblMessageModal").html("Có lỗi xảy ra , xin hãy thử lại sau.");

                        $("#modalShowError").modal("show");
                    }

                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("EditItem", "AdminPage")',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                dataType: "json",
                data: JSON.stringify({ "itemInfor": itemInfor, "sPageIndex": curPageIndex }),
                success: function (data) {

                    if (data.success === true) {
                        isAddNew = false;
                        FillDataToGridTableHtml(data.returnList, data.PageCount, data.HasPreviousPage, data.HasNextPage);
                    }
                    else {
                        $("#lblMessageModal").html("Có lỗi xảy ra , xin hãy thử lại sau.");

                        $("#modalShowError").modal("show");
                    }

                }
            });
        }

    };

    function previewFile(input, index) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                if (index == '2') {
                    $('#itemImage2').attr('src', e.target.result);
                }
                else if (index == '3') {
                    $('#itemImage3').attr('src', e.target.result);
                }
                else if (index == '4') {
                    $('#itemImage4').attr('src', e.target.result);
                }
                else {
                    $('#itemImage').attr('src', e.target.result);
                }
                
            }

            reader.readAsDataURL(input.files[0]);
        }

    }

    function DeleteItem() {

        $.ajax({
            url: '@Url.Action("DeleteItem", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "deleteItemID": $("#deleteItemID").val() }),
            success: function (data) {
                if (data.success === true) {

                    FillDataToGridTableHtml(data.returnList, data.PageCount, data.HasPreviousPage, data.HasNextPage);
                }
                else {
                    $("#lblMessageModal").html("Có lỗi xảy ra , xin hãy thử lại sau.");

                    $("#modalShowError").modal("show");
                }
            }
        });
    };

    function LoadAllItem(pageIndex) {
        curPageIndex = pageIndex;
        $.ajax({
            url: '@Url.Action("LoadAllItem", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sItemStatus": '@((int)Var.DefaultValueInComboBox)', "sPageIndex": pageIndex }),
            success: function (data) {

                if (data.success === true) {

                    FillDataToGridTableHtml(data.returnList, data.PageCount, data.HasPreviousPage, data.HasNextPage);
                }
                else {
                    $("#lblMessageModal").html("Có lỗi xảy ra , xin hãy thử lại sau.");

                    $("#modalShowError").modal("show");
                }
            }
        });
    };

    function ShowDeleteItem(sItemID) {
        $("#deleteItemID").val(sItemID);

        $("#modalConfirmDelete").modal("show");
    };

    function ShowEditItem(sItemID) {
        isAddNew = false;

        $.ajax({
            url: '@Url.Action("LoadItemByItemID", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sItemID": sItemID }),
            success: function (data) {
                if (data.success === true) {

                    $("#itemID").val(data.returnList.ItemID);

                    if (data.returnList.ItemImageURL != "") {
                        $('#itemImage').attr('src', '@Url.Content(Var.UrlUploadItemImage)' + data.returnList.ItemImageURL);
                        
                        
                    }
                    else {
                        $('#itemImage').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
                    }

                    if (data.returnList.ItemImageURL2 != "") {
                        $('#itemImage2').attr('src', '@Url.Content(Var.UrlUploadItemImage)' + data.returnList.ItemImageURL2);
                        
                    }
                    else {
                        $('#itemImage2').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
                    }

                    if (data.returnList.ItemImageURL3 != "") {
                        $('#itemImage3').attr('src', '@Url.Content(Var.UrlUploadItemImage)' + data.returnList.ItemImageURL3);
                         
                    }
                    else {
                        $('#itemImage3').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
                    }

                    if (data.returnList.ItemImageURL4 != "") {
                        $('#itemImage4').attr('src', '@Url.Content(Var.UrlUploadItemImage)' + data.returnList.ItemImageURL4);
                       
                    }
                    else {
                        $('#itemImage4').attr('src', '@Url.Content("~/Content/FontEnd/images/no_image.png")');
                    }
                    $("#FolderID").val(data.returnList.FolderID);
                    
                    $("#itemName").val(data.returnList.ItemName);
                    $("#itemName2").val(data.returnList.ItemName2);

                    BindDataToCategoryComboBox(CategoryList, data.returnList.CategoryID);

                    if (data.returnList.Active == "1") {
                        $('#itemActive').bootstrapSwitch('state', true);
                    }
                    else {
                        $('#itemActive').bootstrapSwitch('state', false);

                    };

                    if (data.returnList.Hot == "1") {
                        $('#itemHot').bootstrapSwitch('state', true);
                    }
                    else {
                        $('#itemHot').bootstrapSwitch('state', false);

                    };

                    $("#itemPrice").val(data.returnList.ItemPrice);
                    $("#itemCondition").val(data.returnList.ItemCondition);
                    $("#itemPrice2").val(data.returnList.ItemPrice2);
                    $("#itemCondition2").val(data.returnList.ItemCondition2);
                    $("#itemKeySearch").val(data.returnList.KeySearch);
                    CKEDITOR.instances.itemDescription.setData(data.returnList.Description);
                    CKEDITOR.instances.itemDescription2.setData(data.returnList.Description2);

                    CKEDITOR.instances.itemSpecification.setData(data.returnList.ItemSpecification);
                    CKEDITOR.instances.itemSpecification2.setData(data.returnList.ItemSpecification2);

                    CKEDITOR.instances.itemFeatures.setData(data.returnList.ItemFeatures);
                    CKEDITOR.instances.itemFeatures2.setData(data.returnList.ItemFeatures2);

                    $("#modalDetailsInformation").modal("show");
                }
                else {
                    $("#lblMessageModal").html("Có lỗi xảy ra , xin hãy thử lại sau.");

                    $("#modalShowError").modal("show");
                }
            }
        });

    };

    function InitGridTableHtml() {

        var gridTableHtml = "<table cellspacing=\"0\" cellpadding=\"4\" style=\"color:#333333;border-collapse:collapse;\"  class=\"table\"> ";
        gridTableHtml += "<tbody> <tr style=\"color:White;background-color:#428BCA;font-weight:bold;\">";
        gridTableHtml += "<th scope=\"col\"  class=\"hidden\">ID</th>";
        gridTableHtml += "<th scope=\"col\">Image</th>";
        gridTableHtml += "<th scope=\"col\">Tên</th>";
        gridTableHtml += "<th scope=\"col\">Tên 2</th>";
        gridTableHtml += "<th scope=\"col\" class=\"hidden\">ID</th>";
        gridTableHtml += "<th scope=\"col\">Nhóm Sản Phẩm</th>";
        gridTableHtml += "<th scope=\"col\">Sản Phẩm Đặc Trưng</th>";
        gridTableHtml += "<th scope=\"col\">Sản Phẩm Mới</th>";
        gridTableHtml += "<th scope=\"col\">Size</th>";
        gridTableHtml += "<th scope=\"col\">Condition</th>";
        gridTableHtml += "<th scope=\"col\">Từ Khóa Tìm Kiếm</th>";

        gridTableHtml += "<th scope=\"col\">&nbsp;</th>";
        gridTableHtml += "<th scope=\"col\">&nbsp;</th>";
        gridTableHtml += " </tr>";
        return gridTableHtml;
    };

    function FillDataToGridTableHtml(listData, PageCount, HasPreviousPage, HasNextPage) {


        $("#ContentPlaceHolder").html("");
        var gridTableHtml = InitGridTableHtml();

        $.each(listData, function (index, item) {

            gridTableHtml += "<tr>";
            gridTableHtml += "<td  class=\"hidden\">" + item.ItemID + "</td>";
            gridTableHtml += "<td><img src=\"" + '@Url.Content(Var.UrlUploadItemImage)' + item.ItemImageURL + "\" style=\"height:30px;width:30px;\"></td>";
            gridTableHtml += "<td>" + item.ItemName + "</td>";
            gridTableHtml += "<td>" + item.ItemName2 + "</td>";
            gridTableHtml += "<td class=\"hidden\">" + item.CategoryID + "</td>";
            gridTableHtml += "<td>" + item.CategoryName + "</td>";
            gridTableHtml += "<td>"
            if (item.Active == "1") {
                gridTableHtml += "On</td>";
            }
            else {
                gridTableHtml += "Off</td>";
            }
            gridTableHtml += "<td>"
            if (item.Hot == "1") {
                gridTableHtml += "On</td>";
            }
            else {
                gridTableHtml += "Off</td>";
            }
            gridTableHtml += "<td>" + item.ItemPrice + "</td>";
            gridTableHtml += "<td>" + item.ItemCondition + "</td>";
            gridTableHtml += "<td>" + item.KeySearch + "</td>";

            gridTableHtml += "<td style=\"width:60px;\"><a style=\"color:#333333;\" onclick=\"ShowEditItem('" + item.ItemID + "')\">Edit</a></td>";
            gridTableHtml += "<td style=\"width:60px;\"><a style=\"color:red;\" onclick=\"ShowDeleteItem('" + item.ItemID + "')\">Delete</a></td>";
            gridTableHtml += " </tr>";
        });

        gridTableHtml += "</tbody></table>";

        $("#ContentPlaceHolder").html(gridTableHtml);

        FillDataToPaging(PageCount, HasPreviousPage, HasNextPage);
    };

    function FillDataToPaging(PageCount, HasPreviousPage, HasNextPage) {

        $("#ulPaging").html("");
        $("#PageCount").val(PageCount);
        var gridTableHtml = "";

        for (var i = 0; i < PageCount; i++) {
            var j = i + 1;
            gridTableHtml += "<li><a href=\"javascript:LoadAllItem('" + i + "')\">" + j + "</a></li>";

        }

        $("#ulPaging").html(gridTableHtml);

        scrollup();
    };

</script>

<form id="form1" action="" method="post">
    <div id="ContentPlaceHolder">
        <table class="table" cellspacing="0" cellpadding="4" style="color:#333333;border-collapse:collapse;">
            <tbody></tbody>
        </table>
    </div>

    <input id="PageCount" type="hidden" class="form-control" value="1" disabled="disabled">
    <div class="col-md-12 col-lg-12 text-center padd0" id="divPaging">
        <ul class="pagination mt50" id="ulPaging"></ul>
    </div>

    <button type="button" id="btnAddNew" class="btn btn-success btn-default">Add New</button>
</form>

<div class="modal fade" id="modalDetailsInformation" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Thông Tin Chi Tiết</h4>
            </div>
            <div class="modal-body " style="padding:10px 10px;">
                <input type="hidden" disabled="disabled" id="itemID">
                <input type="hidden" disabled="disabled" id="FolderID">
                <form role="form" id="frmModalDetailsInformation">
                    <div class="form-group">
                        <img id="itemImage" src="@Url.Content("~/Content/FontEnd/images/no_image.png")" style="height:200px;width:200px;padding: 5px;">
                        <input type="file" class="hidden" id="itemFileUpload" name="file" />
                        <button type="button" class="btn btn-primary start" id="btnUploadImage">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Upload Image</span>
                        </button>

                    </div>

                    <div class="form-group">
                        <img id="itemImage2" src="@Url.Content("~/Content/FontEnd/images/no_image.png")" style="height:200px;width:200px;padding: 5px;">
                        <input type="file" class="hidden" id="itemFileUpload2" name="file" />
                        <button type="button" class="btn btn-primary start" id="btnUploadImage2">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Upload Image 2</span>
                        </button>

                    </div>

                    <div class="form-group">
                        <img id="itemImage3" src="@Url.Content("~/Content/FontEnd/images/no_image.png")" style="height:200px;width:200px;padding: 5px;">
                        <input type="file" class="hidden" id="itemFileUpload3" name="file" />
                        <button type="button" class="btn btn-primary start" id="btnUploadImage3">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Upload Image 3</span>
                        </button>

                    </div>

                    <div class="form-group">
                        <img id="itemImage4" src="@Url.Content("~/Content/FontEnd/images/no_image.png")" style="height:200px;width:200px;padding: 5px;">
                        <input type="file" class="hidden" id="itemFileUpload4" name="file" />
                        <button type="button" class="btn btn-primary start" id="btnUploadImage4">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Upload Image 4</span>
                        </button>

                    </div>
                    <div class="form-group">
                        <label for="itemName">Tên</label>
                        <input type="text" class="form-control" name="ItemName" id="itemName">
                    </div>

                    <div class="form-group">
                        <label for="categoryName">Tên 2</label>
                        <input type="text" class="form-control" name="ItemName2" id="itemName2">
                    </div>

                    <div class="form-group">
                        <label for="itemActive">Sản Phẩm Đặc Trưng</label>
                        <br />
                        <input type="checkbox" id="itemActive">
                    </div>

                    <div class="form-group">
                        <label for="itemHot">Sản Phẩm Mới</label>
                        <br />
                        <input type="checkbox" id="itemHot">
                    </div>
                    <div class="form-group">
                        <label for="cboCategory">Nhóm Sản Phẩm</label>
                        <select id="cboCategory"></select>
                    </div>

                    <div class="form-group">
                        <label for="itemPrice">Condition</label>
                        <input type="text" class="form-control" name="ItemCondition" id="itemCondition">
                    </div>
                    <div class="form-group">
                        <label for="itemPrice">Condition 2</label>
                        <input type="text" class="form-control" name="ItemCondition2" id="itemCondition2">
                    </div>
                    <div class="form-group">
                        <label for="itemPrice">Size</label>
                        <input type="text" class="form-control" name="ItemPrice" id="itemPrice">
                    </div>
                    <div class="form-group">
                        <label for="itemPrice">Size 2</label>
                        <input type="text" class="form-control" name="ItemPrice" id="itemPrice2">
                    </div>
                    <div class="form-group">
                        <label for="itemKeySearch">Từ Khóa Tìm Kiếm</label>
                        <input type="text" class="form-control" name="ItemKeySearch" id="itemKeySearch">
                    </div>

                    <div class="form-group">
                        <label for="itemDescription">Mô Tả Sản Phẩm</label>
                        <textarea class="form-control" name="ItemDescription" id="itemDescription"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="itemDescription2">Mô Tả Sản Phẩm 2</label>
                        <textarea class="form-control" name="ItemDescription2" id="itemDescription2"></textarea>

                    </div>

                    <div class="form-group">
                        <label for="itemSpecification">Thông Tin Sản Phẩm</label>
                        <textarea class="form-control" name="ItemSpecification" id="itemSpecification"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="itemSpecification2">Thông Tin Sản Phẩm 2</label>
                        <textarea class="form-control" name="ItemSpecification2" id="itemSpecification2"></textarea>

                    </div>

                    <div class="form-group">
                        <label for="itemFeatures">Đặc Tính Kỹ Thuật</label>
                        <textarea class="form-control" name="ItemFeatures" id="itemFeatures"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="itemFeatures2">Đặc Tính Kỹ Thuật 2</label>
                        <textarea class="form-control" name="ItemFeatures2" id="itemFeatures2"></textarea>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnModalSave" class="btn btn-primary  btn-default" data-dismiss="modal">Save</button>
                <button type="button" id="btnModalCancel" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalConfirmDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Xác Nhận</h4>
            </div>
            <input type="hidden" disabled="disabled" id="deleteItemID">
            <div class="modal-body">
                <p>Bạn có chắc chắn sẽ xóa item này ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnConfirmDelete" data-dismiss="modal" class="btn btn-primary btn-default">Ok</button>
                <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
