
@{
    ViewBag.Title = "UserInformation";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Config</h2>
@using EntitySolution.Domain.Common
 
<script>
    
    $(document).ready(function () {
        
        $("#btnModalSave").click(function (e) {
            e.preventDefault();

            SaveItem();
        });

        $.validate({
            form: '#frmModalPasswordInformation',
            modules: 'security',

        });

        $("#btnModalSavePassword").click(function (e) {

            $.validate({
                form: '#frmModalPasswordInformation',
                modules: 'security',
                onError: function ($form) {

                },
                onSuccess: function ($form) {
                      
                    $.ajax({
                        url: '@Url.Action("SendEmail", "Home")',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        dataType: "json",
                        data: JSON.stringify({ "EmailAddress": EmailAddress, "Subject": Subject, "Body": Body }),
                        success: function (data) {
                            if (data.success === true) {
                                 
                            }
                            else {
                                $("#lblMessageModal").html("Có lỗi xảy ra , xin hãy thử lại sau.");

                                $("#modalShowError").modal("show");
                            }
                        }
                    });

                    return false; // Will stop the submission of the form
                },
                onValidate: function ($form) {

                },
                onElementValidate: function (valid, $el, $form, errorMess) {

                }
            });
        });

        $("#btnPasswordInformation").click(function (e) {
            e.preventDefault();

            $("#modalPasswordInformation").modal("show");
        });


        $("#btnEmailInformation").click(function (e) {
            e.preventDefault();

            $("#modalEmailInformation").modal("show");
        });


    });// end of document ready

    function SaveItem() {

        var mainContent = CKEDITOR.instances.itemMainContent.getData();
        var mainContent2 = CKEDITOR.instances.itemMainContent2.getData();

        var editSysPara = {
            AutoID: "-1",
            Field: '@Var.ConfigContacts',
            Value: mainContent,
            DefaultValue: mainContent2,

        }

        $.ajax({
            url: '@Url.Action("EditSysPara", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "editSysPara": editSysPara }),
            success: function (data) {

                if (data.success === true) {
                    $("#lblMessageModal").html("Lưu trữ thành công.");

                    $("#modalShowError").modal("show");
                }


            }
        });

    };


    function GetSysPara() {
        $.ajax({
            url: '@Url.Action("GetSysPara", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "fieldSysPara": '@Var.ConfigContacts' }),
            success: function (data) {
                CKEDITOR.instances.itemMainContent.setData(data.returnList.Value);
                CKEDITOR.instances.itemMainContent2.setData(data.returnList.DefaultValue);
            }
        });
    };

</script>
<form role="form" id="frmModalDetailsInformation">

    <div class="form-group">
        <label for="itemDescription">Mail Server</label>
        <input class="form-control" disabled value="@ViewBag.LoginID" /> 

    </div>

    <div class="form-group">
        <label for="itemDescription">Mail Account</label>
        <input class="form-control" disabled value="@ViewBag.EmpEmail" />

    </div>
 
    <div class="form-group">
        <label for="itemDescription">Mail Password</label>
        <input class="form-control" disabled value="@ViewBag.LoginID" />

    </div>

    <div class="form-group">
        <label for="itemDescription">Manager Email</label>
        <input class="form-control" disabled value="@ViewBag.EmpEmail" />

    </div>
     
    <button type="button" id="btnPasswordInformation" class="btn btn-info btn-default" data-dismiss="modal">Thay Đổi Mật Khẩu</button>

    <button type="button" id="btnEmailInformation" class="btn btn-success btn-default" data-dismiss="modal">Thay Đổi Email</button>
     
</form>
