@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.WebResource
@using EntitySolution.Domain.Common
<script>
    var Langguage = '@Session["Culture"].ToString()';
    $(document).ready(function () {
        GetSysPara();
    });

      function GetSysPara() {
        $.ajax({
            url: '@Url.Action("GetSysPara", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "fieldSysPara": '@Var.ConfigAbout' }),
            success: function (data) {
                if (Langguage === "vi-VN") {
                    $("#ContactContent").html(data.returnList.Value);
                }
                else {
                    $("#ContactContent").html(data.returnList.DefaultValue);
                }
            }
        });
    };
</script>

<div class="col-md-12 col-lg-12 padd0">
    <p class="title-post">
        @Resource.AboutUs
    </p>
</div>
<div class="box-listnews">
    <div class="sub-listnews col-md-12 col-lg-12" id="ContactContent">

       
    </div>
</div>
@*<div id="contact-form">
    <div class="title-namecompany col-md-12 col-lg-12">
        <b>@Resource.EmailUs</b>
    </div>
    <div class="col-md-12 col-lg-12">
        <ul>
            <li>
                @Resource.YourName<span style="color: #f00;">(*)</span><br />
                <input type="text" value="" class="form-control2" name="contactName" />
            </li>
            <li>
               @Resource.YourPosition<br />
                <input type="text" value="" class="form-control2" name="Chucvu" />
            </li>
            <li>
                @Resource.YourCompany<br />
                <input type="text" value="" class="form-control2" name="Congty" />
            </li>
            <li>
                @Resource.YourAddress<span style="color: #f00;">(*)</span><br />
                <input type="text" value="" class="form-control2" name="contactAddress" />
            </li>
            <li>
                Email<span style="color: #f00;">(*)</span><br />
                <input type="text" value="" class="form-control2" name="Email" />
            </li>
            <li>
                @Resource.YourPhone<span style="color: #f00;">(*)</span><br />
                <input type="text" value="" class="form-control2" name="Telephone" />
            </li>
            <li>
                @Resource.Subject<span style="color: #f00;">(*)</span><br />
                <input type="text" value="" class="form-control2" name="contactTitle" />
            </li>
            <li>
               @Resource.Body<span style="color: #f00;">(*)</span><br />
                <textarea style="width:350px;" name="contactMessage" rows="8"></textarea>
            </li>
        </ul>
        <div class="col-md-12 col-lg-12">
            <p align="center">
                <button name="B2" class="btn btn-info" type="submit">
                  @Resource.SendEmail
                </button>
                <button type="reset" class="btn btn-warning">
                   @Resource.Cancel
                </button>
            </p>
        </div>
    </div>
</div>*@