@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.WebResource
@using EntitySolution.Domain.Common
<script>
    var Langguage = '@Session["Culture"].ToString()';
    $(document).ready(function () {
         
    });
     
</script>

 
<div class="top">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
        <h1>@Resource.ContactUs</h1>
    </div>
</div>
<div style="text-align: left;" class="middle">

    <div class="col-md-12 col-lg-12">
        <form id="frmSendEmail" action="" method="POST" class="has-validation-callback">
            <div class="row">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                @Resource.YourName<span style="color: #f00;">(*)</span> <br>
                                <input type="text" data-validation="required" data-validation-error-msg="@Resource.ThisIsARequiredField" class="form-control" name="Name" id="guestName">
                            </td>
                            <td>
                                @Resource.YourPosition
                                <br>
                                <input type="text" value="" class="form-control" name="Position" id="guestPosition">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Resource.YourCompany
                                <br><input type="text" value="" class="form-control" name="Company" id="guestCompany">
                            </td>
                            <td>
                                @Resource.YourAddress
                                <br>
                                <input type="text" class="form-control" name="Address" id="guestAddress">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Email<span style="color: #f00;">(*)</span>
                                <br><input type="text" data-validation="email" data-validation-error-msg="@Resource.ThisIsARequiredField" class="form-control" name="Email" id="guestEmail">
                            </td>
                            <td>
                                @Resource.YourPhone<span style="color: #f00;">(*)</span>
                                <br>  <input type="text" data-validation="required" data-validation-error-msg="@Resource.ThisIsARequiredField" class="form-control" name="Telephone" id="guestTelephone">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Resource.Subject<span style="color: #f00;">(*)</span>
                                <br>
                                <input type="text" data-validation="required" data-validation-error-msg="@Resource.ThisIsARequiredField" class="form-control" name="Subject" id="guestSubject">
                            </td>
                        </tr>
                        <tr>
                            <td> @Resource.Body<span style="color: #f00;">(*)</span></td>

                        </tr>
                        <tr>
                            <td colspan="2"> <textarea style="width:100%;" class="form-control" data-validation="required" data-validation-error-msg="@Resource.ThisIsARequiredField" name="Body" id="guestBody" rows="8"></textarea></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-lg-12 padd0" style="margin-bottom:18px;">
                <p align="center">
                   
                    <button type="reset" class="btn btn-warning" id="btnresetEmail">
                        @Resource.Reset
                    </button>

                    <button name="SendEmail" id="btnSendEmail" class="btn btn-info" type="submit">
                        @Resource.SendEmail
                    </button>
                </p>
            </div>

        </form>

    </div>
</div>
<div class="bottom">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>
<br>

<div class="bottomnd">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>