
@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.Domain.Common
<script>
    var CategoryList = null;
    $(document).ready(function () {
        LoadAllCategory();

        LoadAllItemHot();

        LoadTopNews();
    });

    function LoadAllCategory() {

        $.ajax({
            url: '@Url.Action("LoadAllCategory", "Home")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sCategoryStatus": '@((int)Var.SystemStatus.Active)' }),
            success: function (data) {


                CategoryList = data.returnList;
                BindDataToCategoryComboBox(CategoryList, null);
                BindDataToCategoryPanelLeft(CategoryList);
                BindDataToCategoryPanelTop(CategoryList);
            }
        });

    };

    function BindDataToCategoryComboBox(ListCategory, sDefaultValue) {
        $("#cboCategory").html("");
        var gridTableHtml = "<option value=\"" + '@((int)Var.DefaultValueInComboBox)' + "\" selected>" + "All" + "</option>";

        $.each(ListCategory, function (index, item) {

            if (sDefaultValue != null) {
                if (item.CategoryID == sDefaultValue) {

                    gridTableHtml += "<option value=\"" + item.CategoryID + "\" >" + item.CategoryName + "</option>";
                }
                else {
                    gridTableHtml += "<option value=\"" + item.CategoryID + "\">" + item.CategoryName + "</option>";
                }
            }
            else {
                if (index == '0') {
                    gridTableHtml += "<option value=\"" + item.CategoryID + "\" >" + item.CategoryName + "</option>";
                }
                else {
                    gridTableHtml += "<option value=\"" + item.CategoryID + "\">" + item.CategoryName + "</option>";
                }
            }


        });

        $("#cboCategory").html(gridTableHtml);
    }

    function BindDataToCategoryPanelLeft(ListCategory) {
        $("#lstCategoryPanelLeft").html("");
        var gridTableHtml = "";
        $.each(ListCategory, function (index, item) {
            if (index == '0') {
                gridTableHtml += "<li  class=\"active\"> <a data-toggle=\"tab\" href=\"#menu" + item.CategoryID + "\"> <i class=\"fa fa-chevron-right\" style=\"padding-right: 10px;\"> </i>" + item.CategoryName + "</a></li>";
            }
            else {
                gridTableHtml += "<li> <a data-toggle=\"tab\" href=\"#menu" + item.CategoryID + "\"> <i class=\"fa fa-chevron-right\" style=\"padding-right: 10px;\"> </i>" + item.CategoryName + "</a></li>";
            }
        });

        $("#lstCategoryPanelLeft").html(gridTableHtml);
    }

    function BindDataToCategoryPanelTop(ListCategory) {
        $("#lstCategoryPanelTop").html("");
        var gridTableHtml = "";
        $.each(ListCategory, function (index, item) {
            if (index == '0') {
                gridTableHtml += "<li  class=\"active\"> <a data-toggle=\"tab\" href=\"#menu" + item.CategoryID + "\">"  + item.CategoryName + "</a></li>";
            }
            else {
                gridTableHtml += "<li> <a data-toggle=\"tab\" href=\"#menu" + item.CategoryID + "\">" + item.CategoryName + "</a></li>";
            }
        });

        $("#lstCategoryPanelTop").html(gridTableHtml);
    }

    function LoadAllItemHot() {

        $.ajax({
            url: '@Url.Action("LoadAllItem", "Home")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sItemStatus": '@((int)Var.SystemStatus.Active)', "sHotStatus": '@((int)Var.SystemStatus.Active)' }),
            success: function (data) {
                $("#lstItemHotPanelLeft").html("");
                var gridTableHtml = "";
                $.each(data.returnList, function (index, item) {
                    gridTableHtml += "<li> <a href=\"javascript:ShowItemDetail('" + item.ItemID + "')\">";
                    gridTableHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadItemImage)' + item.ItemImageURL + "\" class=\"img-responsive\"> ";
                    gridTableHtml += "<p class=\"tittle-small\">" + item.ItemName + "</p></a></li>";
                });

                $("#lstItemHotPanelLeft").html(gridTableHtml);
            }
        });

    };

    function ShowItemDetail(e) {
        alert(e);
    }

    function LoadTopNews() {

        $.ajax({
            url: '@Url.Action("LoadAllNews", "Home")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sNewsStatus": '@((int)Var.SystemStatus.Active)', "numberOfRecord": '3' }),
            success: function (data) {
                $("#lstNewsPanelLeft").html("");
                var gridTableHtml = "";
                $.each(data.returnList, function (index, item) {
                    gridTableHtml += "<li> <a href=\"javascript:ShowNewsDetail('" + item.NewsID + "')\">";
                    gridTableHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadCompanyNewsImage)' + item.ItemImageURL + "\" class=\"img-responsive\"> ";
                    gridTableHtml += "<p class=\"tittle-small\">" + item.Title + "</p>";
                    gridTableHtml += "<span class=\"link-deatail\"  onclick=\"ShowNewsDetail('" + item.NewsID + "'\">Chi tiết</span></a></li>";
                });

                $("#lstNewsPanelLeft").html(gridTableHtml);
            }
        });

    };
    function ShowNewsDetail(e) {
        alert(e);
    }

</script>

<div class="menu-content-main col-md-12 col-lg-12 padd0">
    <ul class="nav nav-tabs nav-justified" id="lstCategoryPanelTop">
        <li class="active"><a data-toggle="tab" href="#home">CONTAINER VĂN PHÒNG</a></li>
        <li><a data-toggle="tab" href="#menu1">CONTAINER KHÔ</a></li>
        <li><a data-toggle="tab" href="#menu2">CONTAINER LẠNH</a></li>
        <li><a data-toggle="tab" href="#menu3">CONTAINER TOILET</a></li>
    </ul>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 text-center padd0">
                <ul class="pagination mt50">
                    <li>
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span> </a></li>
                </ul>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 text-center padd0">
                <ul class="pagination mt50">
                    <li>
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span> </a></li>
                </ul>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container LẠNH
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container LẠNH
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 text-center padd0">
                <ul class="pagination mt50">
                    <li>
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span> </a></li>
                </ul>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container TOILET
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container TOILET
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container TOILET
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 text-center padd0">
                <ul class="pagination mt50">
                    <li>
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
