@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.WebResource
@using EntitySolution.Domain.Common
<script>
    var DefaultCategory = '@ViewBag.DefaultCategory';
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetSysPara", "AdminPage")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "fieldSysPara": '@Var.ConfigAbout' }),
            success: function (data) {
                if (Langguage === "vi-VN") {
                    $("#ContactContent").html(data.returnList.Value);
                }
                else {
                    $("#ContactContent").html(data.returnList.DefaultValue);
                }
                $("#lstItemFeatured").html("");
                var gridTablePanelTopHtml = "";
               
                var indexTotal = 0;
                var numberRow = 1;
                gridTablePanelTopHtml += "<tr>";

                $.each(FeaturedProducts, function (index, item) {
                    indexTotal++;
                    var ItemName = "";
                    if (Langguage === "vi-VN") {
                        ItemName = item.ItemName;
                    }
                    else {
                        ItemName = item.ItemName2;
                    }

                    gridTablePanelTopHtml += "<td style=\"width: 15%;\">"
                    gridTablePanelTopHtml += "<a href=\"javascript:ShowItemDetail('" + item.ItemID + "')\">";
                    gridTablePanelTopHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadItemImage)' + item.ItemImageURL + "\" class=\"img-responsive\" style=\"height: 100px; width: 100px;border: 1px solid #DDD;padding: 0px;margin-right: 10px;background: white;\"> ";
                    gridTablePanelTopHtml += "</a><br></td> ";

                    gridTablePanelTopHtml += "<td>"
                    gridTablePanelTopHtml += "<a href=\"javascript:ShowItemDetail('" + item.ItemID + "')\"> <b>" + ItemName + "</b></a><br></td>";

                    if (indexTotal % 2 == 0) {
                        numberRow++;
                        gridTablePanelTopHtml += "</tr><tr>";
                    }

                });
                gridTablePanelTopHtml += "</tr>"
                $("#lstItemFeatured").html(gridTablePanelTopHtml);


            }
        });
    });
     
</script>

<div class="top">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
        <h1>@Resource.AboutUs </h1>
    </div>
</div>
<div style="text-align: left;" class="middle" id="ContactContent">

</div>
<div class="bottom">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>
<br>
<div class="topnd">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
        <div class="headingnd">
           @Resource.FeaturedProducts
        </div>
    </div>
</div>
<div class="middlend">
    <table class="list" >

        <tbody id="lstItemFeatured">
            @*<tr>


                <td style="width: 15%;">
                    <a href="#">
                        <img style="border: 1px solid #DDD;padding: 0px;margin-right: 10px;background: white;" alt="CONTAINER VP 20 FEET" title="&quot;Chăm&quot; chưa đúng cách, cơ khí Việt Nam chậm lớn" src="http://ducphatvp.com.vn/image/cache/data/image027-120x100.jpg">
                    </a><br>

                </td>
                <td>
                    <a href="http://ducphatvp.com.vn/cham-chua-dung-cach-co-khi-viet-nam-cham-lon"><b>CONTAINER VP 20 FEET</b></a><br>

                </td>


                <td style="width: 15%;">
                    <a href="http://ducphatvp.com.vn/index.php?route=product/product&amp;product_id=78">
                        <img style="border: 1px solid #DDD;padding: 0px;margin-right: 10px;background: white;" alt="Ngành cơ khí - không chỉ là tiện, phay, bào, hàn" title="Ngành cơ khí - không chỉ là tin, phay, bào, hàn" src="http://ducphatvp.com.vn/image/cache/data/theme/images (10)-120x100.jpg">
                    </a><br>


                </td>
                <td>
                    <a href="http://ducphatvp.com.vn/index.php?route=product/product&amp;product_id=78"><b>Container VP 40 Feet</b></a><br>

                </td>

            </tr>
            <tr>
                <td style="width: 15%;">
                    <a href="http://ducphatvp.com.vn/ha-noi-diem-ten-nhung-du-an-gia-binh-dan-sap-hoan-thien">
                        <img style="border: 1px solid #DDD;padding: 0px;margin-right: 10px;background: white;" src="http://ducphatvp.com.vn/image/cache/data/HTV2-120x100.jpg">
                    </a>
                    <br>

                </td>
                <td>
                    <a href="http://ducphatvp.com.vn/ha-noi-diem-ten-nhung-du-an-gia-binh-dan-sap-hoan-thien">
                        <b>Container Toilet 10 Feet</b>
                    </a>
                    <br>

                </td>


                <td style="width: 15%;">
                    <a href="http://ducphatvp.com.vn/thi-diem-dua-ra-thi-truong-can-ho-25m2">
                        <img style="border: 1px solid #DDD;padding: 0px;margin-right: 10px;background: white;" src="http://ducphatvp.com.vn/image/cache/data/image022-120x100.jpg">
                    </a>
                    <br>

                </td>
                <td>
                    <a href="http://ducphatvp.com.vn/thi-diem-dua-ra-thi-truong-can-ho-25m2">
                        <b>Container Kho 10 Feet</b>
                    </a>
                    <br>

                </td>

            </tr>*@
        </tbody>
    </table>
</div>
<div class="bottomnd">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>