@model EntitySolution.EntityDB.News
@using EntitySolution.Domain.Common;
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<EntitySolution.EntityDB.News> ListNewsAndRelative = new List<EntitySolution.EntityDB.News>();
    if (ViewBag.ListNewsAndRelative != null)
    {
        ListNewsAndRelative = (List<EntitySolution.EntityDB.News>)ViewBag.ListNewsAndRelative;
    }
}

<div class="col-md-12 col-lg-12 padd0">
    <p class="title-post">
        @Model.Title
    </p>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <p class="date-post">
        @Model.CreatedDate.Value.ToString(Var.FormatDate)
    </p>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <div class="content-subpost">
        <p>
            <b>@Model.Description</b><br /><br />


        </p>
        <p class="text-center">
            <img src="@Url.Content(Var.UrlUploadCompanyNewsImage + Model.ItemImageURL)" class="img-responsive">;
           
        </p>
        <br />

        @Html.Raw(Model.MainContent)
    </div>
</div>
<div class="col-md-12 col-lg-12 othernews">
    <h2>
        Tin khác
    </h2>
    <ul>
        @for (int i = 0; i < ListNewsAndRelative.Count; i++)
        {
            <li>
                <a title="@ListNewsAndRelative[i].Title" style="text-decoration: none;" href='@Url.Action("NewsDetail", "Home", new { id = ListNewsAndRelative[i].NewsID })'>
                    @ListNewsAndRelative[i].Title  (@ListNewsAndRelative[i].CreatedDate.Value.ToString(Var.FormatDate))
                </a>
            </li>
        }
       
    </ul>
</div>
