@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.Domain.Common
@using EntitySolution.WebResource
<script>
    Number.prototype.padLeft = function (base, chr) {
        var len = (String(base || 10).length - String(this).length) + 1;
        return len > 0 ? new Array(len).join(chr || '0') + this : this;
    }

    var CategoryList = null;
    var Langguage = '@Session["Culture"].ToString()';
    $(document).ready(function () {

        LoadAllNews('0');

    });

    function LoadAllNews(pageIndex) {

        $.ajax({
            url: '@Url.Action("LoadAllNews", "Home")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({ "sNewsStatus": '@((int)Var.SystemStatus.Active)', "numberOfRecord": '@Var.DefaultValueInComboBox', "sPageIndex": pageIndex }),
            success: function (data) {
                $("#box-listnews").html("");
                var gridTableHtml = "";
                $.each(data.returnList, function (index, item) {

                    var Title = "";
                    var Description = "";
                    if (Langguage === "vi-VN") {
                        Title = item.Title;
                        Description = item.Description;
                    }
                    else {
                        Title = item.Title2;
                        Description = item.Description2;
                    }

                    var d = new Date(parseInt(item.CreatedDate.substr(6)));
                    var dformat = [d.getDate().padLeft(),
                    (d.getMonth() + 1).padLeft(),
                    d.getFullYear()].join('/') +  ' ' +
                    [d.getHours().padLeft(),
                    d.getMinutes().padLeft(),
                    d.getSeconds().padLeft()].join(':');


                    gridTableHtml += " <div style=\"padding-bottom:15px !important\" class=\"sub-listnews col-md-12 col-lg-12\">";
                    gridTableHtml += " <div class=\"col-md-12 col-lg-12\">";
                    gridTableHtml += " <p style=\"text-transform: uppercase;\" class=\"title-subpost\">";
                    gridTableHtml += " <a href=\"javascript:ShowNewsDetail('" + item.NewsID + "')\">" + Title + "</a>";
                    gridTableHtml += " </p></div>";
                    gridTableHtml += " <div class=\"col-md-3 col-lg-3\">";
                    gridTableHtml += "<a href=\"javascript:ShowNewsDetail('" + item.NewsID + "')\">";
                    gridTableHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadCompanyNewsImage)' + item.ItemImageURL + "\" class=\"img-responsive\" style=\"height: 125px; width: 175px;\"> ";
                    gridTableHtml += " </a></div>";
                    gridTableHtml += " <div style=\"padding:0px !important\" class=\"col-md-9 col-lg-9\">";
                    gridTableHtml += " <div style=\"padding:0px !important\" class=\"col-md-12 col-lg-12 padd0\">";
                    gridTableHtml += " <p>" + Description + "</p></div>";
                    gridTableHtml += " <div style=\"padding:0px !important\" class=\"col-md-12 col-lg-12 padd0\">";
                    gridTableHtml += " <div style=\"padding:0px !important\" class=\"col-md-6 col-lg-6 padd0\">";
                    gridTableHtml += " <p class=\"date-post\" style=\"float: left;\">" + dformat + "</p></div>";
                    gridTableHtml += " <div class=\"col-md-6 col-lg-6 padd0\">";
                    gridTableHtml += " <a href=\"javascript:ShowNewsDetail('" + item.NewsID + "')\" style=\"float: right;\"><span class=\"link-deatail\">"+'@Resource.ViewDetails'+"</span></a>";
                    gridTableHtml += " </div></div></div></div>";

                });

                $("#box-listnews").html(gridTableHtml);

                $("#ulPaging").html("");
                $("#PageCount").val(data.PageCount);
                var gridTableHtml = "";

                for (var i = 0; i < data.PageCount; i++) {
                    var j = i + 1;
                    gridTableHtml += "<li><a href=\"javascript:LoadAllNews('" + i + "')\">" + j + "</a></li>";

                }

                $("#ulPaging").html(gridTableHtml);
                scrollup();
            }
        });

    };

    function ShowNewsDetail(e) {
        var url = '@Url.Action("NewsDetail", "Home", new { id = "__id__" })';
        window.location.href = url.replace('__id__', e);
    }

</script>
 

<div class="top">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
        <h1>@Resource.News</h1>
    </div>
</div>
<div style="text-align: left; padding-left:0px !important;padding-top:15px; !important;" class="middle" id="box-listnews">

</div>
<div class="bottom">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>
<br>


<input id="PageCount" type="hidden" class="form-control" value="1" disabled="disabled">
<div class="col-md-12 col-lg-12 text-center padd0" id="divPaging">
    <ul class="pagination mt50" id="ulPaging"></ul>
</div>