@using EntitySolution.WebResource
@using EntitySolution.Domain.Common
@model EntitySolution.EntityDB.Item
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<EntitySolution.EntityDB.Item> ListProductAndRelative = new List<EntitySolution.EntityDB.Item>();
    if (ViewBag.ListProductAndRelative != null)
    {
        ListProductAndRelative = (List<EntitySolution.EntityDB.Item>)ViewBag.ListProductAndRelative;
    }
}


<div class="top">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
        <h1>THÔNG TIN SẢN PHẨM</h1>
    </div>
</div>
<div style="text-align: left;" class="middle" id="box-listnews">
    
    <div class="row">

<div style="float:left;">

<div style="float:left;">
<div style="width:250px;">
                    <div class="zoomWrapper">
                        <div class="zoomWrapper single-zoom" id="img-1">
                            <a href="#">
                                <div class="zoomWrapper">



   @if (Model.ItemImageURL != "")
            {
                <img id="zoom1"  src="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)" alt="big-1"  data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)"/>
            }
               else
            {
                <img src="@Url.Content("~/Content/FontEnd/images/no_image.png")" class="img-responsive" style="height: 250px; width: 250px;" />

            }



</div>
                            </a>
                        </div>
                        <div class="single-zoom-thumb">
                            <div class="bx-wrapper" style="max-width: 362px;">
                                <div class="bx-viewport">
                                    <ul id="gallery_01" class="bxslider">
                                             @if (Model.ItemImageURL != "")
                                                    {


                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)" class="elevatezoom-gallery" href="#"><img  src="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)"></a>
                                                    </li>
                                                  
                                                    }
                                                    else
                                                    {

                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL)" class="elevatezoom-gallery" href="#"><img src="@Url.Content("~/Content/FontEnd/images/no_image.png")"></a>
                                                    </li>

                                                    }

                                                    @if (Model.ItemImageURL2 != "")
                                                    {


                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL2)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL2)" class="elevatezoom-gallery" href="#"><img src="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL2)"></a>
                                                    </li>

                                                    }
                                                    else
                                                    {

                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL2)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL2)" class="elevatezoom-gallery" href="#"><img src="@Url.Content("~/>Content/FontEnd/images/no_image.png")"></a>
                                                    </li>

                                                    }
                                                    @if (Model.ItemImageURL3 != "")
                                                    {


                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL3)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL3)" class="elevatezoom-gallery" href="#"><img src="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL3)"></a>
                                                    </li>

                                                    }
                                                    else
                                                    {

                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL3)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL3)" class="elevatezoom-gallery" href="#"><img src="@Url.Content("~/>Content/FontEnd/images/no_image.png")"></a>
                                                    </li>

                                                    }

                                                    @if (Model.ItemImageURL4 != "")
                                                    {


                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL4)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL4)" class="elevatezoom-gallery" href="#"><img src="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL4)"></a>
                                                    </li>

                                                    }
                                                    else
                                                    {

                                                    <li class="bx-clone">
                                                        <a data-zoom-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL4)" data-image="@Url.Content(Var.UrlUploadItemImage + Model.ItemImageURL4)" class="elevatezoom-gallery" href="#"><img src="@Url.Content("~/>Content/FontEnd/images/no_image.png")"></a>
                                                    </li>

                                                    }



                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
</div>

       
        <div style="width:250px;float:left;margin-left:26px;">
            <p>
                @Resource.Product :
                <b>
                    @if (Session["Culture"].ToString().Contains("vi-VN"))
                    {
                        @Model.ItemName
                    }
                    else
                    {
                        @Model.ItemName2
                    }
                </b>
            </p>
            <p>
                @Resource.Condition:
                <b>
                    @if (Session["Culture"].ToString().Contains("vi-VN"))
                    {
                        @Model.ItemCondition
                    }
                    else
                    {
                        @Model.ItemCondition2
                    }
                </b>
            </p>

            <p>
                @Resource.Size:
                <b>
                    @if (Session["Culture"].ToString().Contains("vi-VN"))
                    {
                        @Model.ItemPrice
                    }
                    else
                    {
                        @Model.ItemPrice2
                    }
                </b>
            </p>
            <p>
                Mô tả sản phẩm:
                <b>
                    @if (Session["Culture"].ToString().Contains("vi-VN"))
                    {
                        @Html.Raw(Model.Description)
                    }
                    else
                    {
                        @Html.Raw(Model.Description2)
                    }
                </b>
            </p>
        </div>

    </div>

    <div class="row col-md-12 col-lg-12 padd0">

        @if (Session["Culture"].ToString().Contains("vi-VN"))
        {
            @Html.Raw(Model.ItemSpecification)
        }
        else
        {
            @Html.Raw(Model.ItemSpecification2)
        }

        @if (Session["Culture"].ToString().Contains("vi-VN"))
        {
            @Html.Raw(Model.ItemFeatures)
        }
        else
        {
            @Html.Raw(Model.ItemFeatures2)
        }


    </div>


    <div class="row col-md-12 col-lg-12 othernews">
        <h2>
            @Resource.Products
        </h2>
        <ul>
            @for (int i = 0; i < ListProductAndRelative.Count; i++)
            {
                <li>
                    @if (Session["Culture"].ToString().Contains("vi-VN"))
                    {
                        <a title="@ListProductAndRelative[i].ItemName" style="text-decoration: none;" href='@Url.Action("ProductDetails", "Home", new { id = ListProductAndRelative[i].ItemID })'>
                            @ListProductAndRelative[i].ItemName
                        </a>
                    }
                    else
                    {
                        <a title="@ListProductAndRelative[i].ItemName2" style="text-decoration: none;" href='@Url.Action("ProductDetails", "Home", new { id = ListProductAndRelative[i].ItemID })'>
                            @ListProductAndRelative[i].ItemName2
                        </a>
                    }

                </li>
            }

        </ul>
    </div>
</div>

<div class="bottom">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>
<br>