<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Trang Quản lý - Admin Page</title>
     
    @Styles.Render("~/Content/BackEnd/css/style.default.css")
    @Styles.Render("~/Content/BackEnd/css/morris.css")
    @Styles.Render("~/Content/BackEnd/css/select2.css")  
    @Styles.Render("~/Content/bootstrap-3.3.5/css/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/BackEnd/js/jquery-1.11.1.min.js")
    @Scripts.Render("~/Content/bootstrap-3.3.5/js/bootstrap.min.js")
    @Scripts.Render("~/Content/bootstrap-switch/js/bootstrap-switch.min.js")
    @Scripts.Render("~/Content/BackEnd/js/modernizr.min.js")
    @Scripts.Render("~/Content/BackEnd/js/pace.min.js")
    @Scripts.Render("~/Content/BackEnd/js/retina.min.js")
    @Scripts.Render("~/Content/BackEnd/js/jquery.cookies.js")
    @Scripts.Render("~/Content/BackEnd/js/jquery.sparkline.min.js")
    @Scripts.Render("~/Content/BackEnd/js/morris.min.js")
    @Scripts.Render("~/Content/BackEnd/js/raphael-2.1.0.min.js")
    @Scripts.Render("~/Content/BackEnd/js/bootstrap-wizard.min.js")
    @Scripts.Render("~/Content/BackEnd/js/select2.min.js")
    @Scripts.Render("~/Content/BackEnd/js/custom.js")
    @Scripts.Render("~/Content/ckeditor/ckeditor.js")


   
    @Scripts.Render("~/Content/BackEnd/js/jquery-ui-1.10.3.js")
    @Scripts.Render("~/Content/jQueryFileUpload/js/vendor/jquery.ui.widget.js")
    @Scripts.Render("~/Content/jQueryFileUpload/js/jquery.iframe-transport.js")
    @Scripts.Render("~/Content/jQueryFileUpload/js/jquery.fileupload.js")
    @Scripts.Render("~/Content/jQueryFileUpload/js/jquery.fileupload-ui.js")

    <style>
        .modal-header {
            padding: 5px 5px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>

    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="/home/" class="logo">
                    <img src="FrontEnd/image/logo-small.png" alt="" />
                </a>
                <div class="pull-right">
                    <a href="#" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- header-left -->

            <div class="header-right">

                <div class="pull-right">
                    <div class="btn-group btn-group-list btn-group-notification">
                        <!-- dropdown-menu -->
                    </div>
                    <!-- btn-group -->

                    <div class="btn-group btn-group-list btn-group-messages">
                        <!-- dropdown-menu -->
                    </div>
                    <!-- btn-group -->

                    <div class="btn-group btn-group-option">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="@Url.Action("LogOff", "AdminPage")"><i class="glyphicon glyphicon-log-out"></i>Thoát</a></li>
                        </ul>
                    </div>
                    <!-- btn-group -->

                </div>
                <!-- pull-right -->

            </div>
            <!-- header-right -->

        </div>
        <!-- headerwrapper -->
    </header>

    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">            
                    <div class="media-body">
                        <h3 class="media-heading"><a href="@Url.Action("UserInformation","AdminPage")">Admin</a></h3>
                        <small class="text-muted">Management</small>
                    </div>
                </div>
                <!-- media -->
             
                <ul class="nav nav-pills nav-stacked">  
                         
                    <li><a href="@Url.Action("Category","AdminPage")"><i class="fa fa-qrcode"></i><span>Nhóm Sản Phẩm</span></a></li>
                    <li><a href="@Url.Action("Item","AdminPage")"><i class="fa fa-suitcase"></i><span>Sản Phẩm</span></a></li>
                    <li><a href="@Url.Action("News","AdminPage")"><i class="fa fa-pencil-square-o"></i><span>Tin Tức</span></a></li>
                    <li><a href="@Url.Action("ConfigAbout","AdminPage")"><i class="fa fa-check-circle"></i><span>Giới Thiệu</span></a></li>     
                    <li><a href="@Url.Action("ConfigContacts","AdminPage")"><i class="fa fa-check-circle"></i><span>Liên Hệ</span></a></li>             
                </ul>
            </div>
            <!-- leftpanel -->

            <div class="mainpanel">
                <div class="pageheader">
                    <div class="media">
                        <div class="pageicon pull-left">
                            <a href=@Url.Action("Category", "AdminPage")><i class="fa fa-home"></i></a>
                        </div>
                        <div class="media-body">
                            
                        </div>
                    </div>
                    <!-- media -->
                </div>
                <!-- pageheader -->
                <div class="contentpanel">
                    <div>
                        @RenderBody()
                    </div>
                    <!-- panel -->
                </div>



                <div class="col-md-4">
                </div>
                <!-- col-md-4 -->
            </div>
            <!-- row -->
            <!-- row -->

        </div>

    </section>


    <div class="modal fade" id="modalShowError" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Thông Báo</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMessageModal">Thông Báo</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>


</html>
