<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Trang Quản lý - Admin Page</title>

    <link rel="stylesheet" href="~/Content/BackEnd/css/style.default.css" />
    <link rel="stylesheet" href="~/Content/BackEnd/css/morris.css" />
    <link rel="stylesheet" href="~/Content/BackEnd/css/select2.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrapswitch/css/bootstrap3/bootstrap-switch.min.css" />

    <script type="text/javascript" src="~/Content/BackEnd/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrapswitch/js/bootstrapswitch.js"></script>
    <script type="text/javascript" src="~/Content/bootstrapswitch/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/modernizr.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/retina.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/jquery.cookies.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/morris.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/raphael-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/bootstrap-wizard.min.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/select2.min.js"></script>
    @*<script type="text/javascript" src="~/Content/BackEnd/js/custom.js"></script>*@
    <script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/BackEnd/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/jQueryFileUpload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Content/jQueryFileUpload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/Content/jQueryFileUpload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="~/Content/jQueryFileUpload/js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="~/Content/form-validator/jquery.form-validator.js"></script>
    <script type="text/javascript" src="~/Content/FontEnd/js/jquery.blockUI.js"></script>

    <style>
        .modal-header {
            padding: 5px 5px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>

    <script>
        $(document).ready(function () {
            $.validate({
                form: '#frmModalPasswordInformation',
                modules: 'security',

            });


            $("#btnModalSavePassword").click(function (e) {
              
               
                $.validate({
                    form: '#frmModalPasswordInformation',
                    modules: 'security',
                    onError: function ($form) {
                       
                        return false;
                    },
                    onSuccess: function ($form) {
                        $.ajax({
                            url: '@Url.Action("ChangePassword", "AdminPage")',
                            contentType: "application/json; charset=utf-8",
                            type: 'POST',
                            dataType: "json",
                            data: JSON.stringify({ "NewPassword": $("#newPassword").val(), "NewConfirmPassword": $("#confirmPassword").val() }),
                            success: function (data) {

                                $("#modalPasswordInformation").modal("hide");
                                if (data.success === true) {
                                    $("#lblMessageModal").html("Thành công.");

                                    $("#modalShowError").modal("show");
                                }
                                else {
                                    $("#lblMessageModal").html(data.MsgError);

                                    $("#modalShowError").modal("show");
                                }


                            }
                        });
                        return false; // Will stop the submission of the form
                    },
                    onValidate: function ($form) {
                        return false;
                    },
                    onElementValidate: function (valid, $el, $form, errorMess) {
                        return false;
                    }
                });

            });
        });
      
        function scrollup() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        }

        function ChangePassword() {

            $("#newPassword").val('');
            $("#confirmPassword").val('');
            $("#modalPasswordInformation").modal("show");
            return false;
        }

      
         
    </script>
</head>

<body>

    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="/home/" class="logo">
                    <img src="FrontEnd/image/logo-small.png" alt="" />
                </a>
                <div class="pull-right">
                    <a href="#" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- header-left -->

            <div class="header-right">

                <div class="pull-right">
                    <div class="btn-group btn-group-list btn-group-notification">
                        <!-- dropdown-menu -->
                    </div>
                    <!-- btn-group -->

                    <div class="btn-group btn-group-list btn-group-messages">
                        <!-- dropdown-menu -->
                    </div>
                    <!-- btn-group -->

                    <div class="btn-group btn-group-option">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="@Url.Action("LogOff", "AdminPage")"><i class="glyphicon glyphicon-log-out"></i>Thoát</a></li>
                        </ul>
                    </div>
                    <!-- btn-group -->

                </div>
                <!-- pull-right -->

            </div>
            <!-- header-right -->

        </div>
        <!-- headerwrapper -->
    </header>

    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">            
                    <div class="media-body">
                        <h3 class="media-heading"><a onclick="ChangePassword()">Admin</a></h3>
                        <small class="text-muted">Management</small>
                    </div>
                </div>
                <!-- media -->
             
                <ul class="nav nav-pills nav-stacked">  
                         
                    <li><a href="@Url.Action("Category", "AdminPage")"><i class="fa fa-qrcode"></i><span>Nhóm Sản Phẩm</span></a></li>
                    <li><a href="@Url.Action("Item", "AdminPage")"><i class="fa fa-suitcase"></i><span>Sản Phẩm</span></a></li>
                    <li><a href="@Url.Action("News", "AdminPage")"><i class="fa fa-pencil-square-o"></i><span>Tin Tức</span></a></li>
                    <li><a href="@Url.Action("ConfigAbout", "AdminPage")"><i class="fa fa-check-circle"></i><span>Giới Thiệu</span></a></li>     
                    <li><a href="@Url.Action("ConfigContacts", "AdminPage")"><i class="fa fa-check-circle"></i><span>Liên Hệ</span></a></li>   
                    <li><a href="@Url.Action("Config", "AdminPage")"><i class="fa fa-check-circle"></i><span>Config</span></a></li>                  
                </ul>
            </div>
            <!-- leftpanel -->

            <div class="mainpanel">
                <div class="pageheader">
                    <div class="media">
                        <div class="pageicon pull-left">
                            <a href=@Url.Action("Category", "AdminPage")><i class="fa fa-home"></i></a>
                        </div>
                        <div class="media-body">
                            
                        </div>
                    </div>
                    <!-- media -->
                </div>
                <!-- pageheader -->
                <div class="contentpanel">
                    <div>
                        @RenderBody()
                    </div>
                    <!-- panel -->
                </div>



                <div class="col-md-4">
                </div>
                <!-- col-md-4 -->
            </div>
            <!-- row -->
            <!-- row -->

        </div>

    </section>


    <div class="modal fade" id="modalShowError" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Thông Báo</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMessageModal">Thông Báo</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPasswordInformation" role="dialog">
        <div class="modal-dialog modal-lg">
            <form  id="frmModalPasswordInformation">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Thay Đổi Mật Khẩu</h4>
                    </div>
                    <div class="modal-body " style="padding:10px 10px;">


                        <div class="form-group">
                            <label>New Password</label>
                            <input class="form-control" type="password" id="newPassword" name="pass_confirmation" data-validation="length" data-validation-length="min4" />
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control" type="password" name="pass" data-validation="confirmation" id="confirmPassword" />
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnModalSavePassword" class="btn btn-primary  btn-default">Save</button>
                        <button type="button" id="btnModalCancel" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


</html>
