@using EntitySolution.Domain.Common
@using EntitySolution.WebResource
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width" name="viewport" />
    <title>Tân Phong</title>
   

    <link rel="stylesheet" href="~/Content/FontEnd/css/lb.css" />
    <link rel="stylesheet" href="~/Content/FontEnd/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/FontEnd/css/tanphong.css" />
    @*
    <link rel="stylesheet" href="~/Content/BackEnd/css/jquery-ui.css" />*@
    <link rel="stylesheet" href="~/Content/BackEnd/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/FontEnd/css/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/Content/FontEnd/css/block.css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @*
    <script type="text/javascript" src="~/Content/FontEnd/js/buttons.js"></script>

    <script type="text/javascript" src="~/Content/FontEnd/js/jssor.js"></script>
    <script type="text/javascript" src="~/Content/FontEnd/js/jssor.slider.js"></script>*@


    <style>
        .modal-header {
            padding: 5px 5px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
b, strong {
    font-weight: normal;
}
    </style>

</head>
<body>

    <script>
        var CategoryList = null;
        var Langguage = '@Session["Culture"].ToString()';
        $(document).ready(function () {
            LoadAllDataForHomePage();

            $('.pic-show').bxSlider({
                pagerCustom: '#bx-pager'
            });
            $('.bxslider').bxSlider({
                auto: true
            });
            $("#btn_close_modal").click(function () {
                playPause();

            });

        });

        function playPause() {
            if ($("#video1").paused) {
                $("#video1").play();
            }
            else
                $("#video1").pause();
        }


        function LoadAllDataForHomePage() {

            $.ajax({
                url: '@Url.Action("LoadAllDataForHomePage", "Home")',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                dataType: "json",
                data: {},
                success: function (data) {

                    //
                    $("#cboCategory").html("");


                    CategoryList = data.CategoryList;
                    var gridTableComboBoxHtml = "<option value=\"" + '@((int)Var.DefaultValueInComboBox)' + "\" selected>" + '@Resource.All' + "</option>";
                    var gridTablePanelLeftHtml = "";
                    var gridTablePanelTopHtml = "";
                    $.each(CategoryList, function (index, item) {
                        var CategoryName = "";
                        if (Langguage === "vi-VN") {
                            CategoryName = item.CategoryName;
                        }
                        else {
                            CategoryName = item.CategoryName2;
                        }

                        gridTableComboBoxHtml += "<option value=\"" + item.CategoryID + "\">" + CategoryName + "</option>";

                        if (index == '0') {
                            gridTablePanelLeftHtml += "<li  class=\"active\"> <a href=\"javascript:ShowCategory('" + index + "')\"> <i class=\"fa fa-chevron-right\" style=\"padding-right: 10px;\"> </i>" + CategoryName + "</a></li>";
                        }
                        else {
                            gridTablePanelLeftHtml += "<li> <a href=\"javascript:ShowCategory('" + index + "')\"> <i class=\"fa fa-chevron-right\" style=\"padding-right: 10px;\"> </i>" + CategoryName + "</a></li>";
                        }

                        if (index == '0') {
                            gridTablePanelTopHtml += "<li id=\"limenu" + index + "\"> <a data-toggle=\"tab\" href=\"#menu" + index + "\">" + CategoryName + "</a></li>";
                        }
                        else {
                            gridTablePanelTopHtml += "<li id=\"limenu" + index + "\"> <a data-toggle=\"tab\" href=\"#menu" + index + "\">" + CategoryName + "</a></li>";
                        }

                    });

                    $("#cboCategory").html(gridTableComboBoxHtml);
                    $("#lstCategoryPanelLeft").html("");
                    $("#lstCategoryPanelLeft").html(gridTablePanelLeftHtml);

                    $("#lstCategoryPanelTop").html("");
                    $("#lstCategoryPanelTop").html(gridTablePanelTopHtml);

                    //
                    $("#lstItemHotPanelLeft").html("");
                    var gridItemListHotHtml = "";
                    $.each(data.ItemListHot, function (index, item) {
                        var ItemName = "";
                        if (Langguage === "vi-VN") {
                            ItemName = item.ItemName;
                        }
                        else {
                            ItemName = item.ItemName2;
                        }
                        gridItemListHotHtml += "<li> <a href=\"javascript:ShowItemDetail('" + item.ItemID + "')\">";
                        gridItemListHotHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadItemImage)' + item.ItemImageURL + "\" class=\"img-responsive\"> ";
                        gridItemListHotHtml += "<p class=\"tittle-small\">" + ItemName + "</p></a></li>";
                    });
                    $("#lstItemHotPanelLeft").html(gridItemListHotHtml);

                    //
                    $("#lstNewsPanelLeft").html("");
                    var gridNewsPanelLeftHtml = "";
                    $.each(data.NewsList, function (index, item) {
                        var Title = "";
                        if (Langguage === "vi-VN") {
                            Title = item.Title;
                        }
                        else {
                            Title = item.Title2;
                        }
                        gridNewsPanelLeftHtml += "<li style=\"height: 85px;\"> <a href=\"javascript:ShowNewsDetail('" + item.NewsID + "')\">";
                        gridNewsPanelLeftHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadCompanyNewsImage)' + item.ItemImageURL + "\" class=\"img-responsive\" style=\"height: 47px; width: 70px;\"> ";
                        gridNewsPanelLeftHtml += "<p class=\"tittle-small\">" + Title + "</p>";
                        gridNewsPanelLeftHtml += "<span class=\"link-deatail\"  onclick=\"ShowNewsDetail('" + item.NewsID + "'\">" + '@Resource.ViewDetails' + "</span></a></li>";
                    });

                    $("#lstNewsPanelLeft").html(gridNewsPanelLeftHtml);

                }
            });

        };

        function ShowItemDetail(e) {

            var url = '@Url.Action("ProductDetails", "Home", new { id = "__id__" })';
            window.location.href = url.replace('__id__', e);
        }

        function ShowCategory(e) {

            $.ajax({
                url: '@Url.Action("SetDefaultCategory", "Home")',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                dataType: "json",
                data: JSON.stringify({ "CategoryIndex": e }),
                success: function (data) {
                    if (data.success) {
                        var url = '@Url.Action("Index", "Home")';
                        window.location.href = url;
                    }
                }
            });

        }

        function ShowNewsDetail(e) {
            var url = '@Url.Action("NewsDetail", "Home", new { id = "__id__" })';
            window.location.href = url.replace('__id__', e);
        }
        function SearchDetail(e) {
            var url = '@Url.Action("Search", "Home", new { key = "__key__" })';
            window.location.href = url.replace('__key__', e);
        }

        function scrollup() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        }

    </script>

    <div class="bg">
        <div class="container box-content">
            <header>
                <div class="top-banner col-md-12 col-lg-12 padd0">
                    <div class="bg-header">
                        <div class="col-md-12 col-lg-12 pull-right">
                            <div class="mullanguage" id="mulange">@{Html.RenderAction("MultiLanguageNav", "MultiLanguage");}</div>
                        </div>
                        <div class="col-md-7 col-lg-7">
                            <a href="#" style="float:left;">
                                <img class="img-responsive" style="width:200px;margin-top:-25px;" src="@Url.Content("~/Content/FontEnd/images/logotanphong.png")" />
                            </a>
                            <p style="float: left; "><img class="img-responsive" src="@Url.Content("~/Content/FontEnd/images/tencty.png")" /></p>
                        </div>
                        <div class="col-md-5 col-lg-5" style="padding-top: 15px;">
                            <form method="get" action="@Url.Action(" search", "Home" )">
                                <div class="col-md-6 col-lg-6 pull-right">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control" style="font-style: italic;" placeholder="@Resource.Search..." />
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-warning start" id="btnSearch">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 pull-right">
                                    <select name="category" class="form-control" id="cboCategory"></select>
                                </div>

                            </form>
                            @*<div class="col-md-6 col-lg-6 pull-right">
                                <input type="text" class="form-control" style="font-style: italic;" placeholder="@Resource.Search..." />
                                <button type="button" class="btn btn-primary start" id="btnSearch">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="col-md-6 col-lg-6 pull-right">
                                <select class="form-control" id="cboCategory"></select>
                            </div>*@
                        </div>
                        <div class="col-md-12 col-lg-12" style="margin-top: -26px;">
                            <p class="address-top">Ðịa chỉ: Phòng 606, Tòa nhà Indochina Park Tower.Số 4 Nguyễn Đình Chiểu,P. Đa Kao, Q.1,TP.HCM</p>
                            <br>
                            <p class="address-top">Chi nhánh tại Bình Dương: KCN Sóng Thần 1, Đường DT 743, Thuận An - Dĩ An - Bình Dương.</p>
                            <br>
                            <p class="address-top">Liên hệ Email:<b> sales@tanphongcontainer.vn </b> - Hotline: <b>098 77 99 579 - Mr.Duy | 0938 007 507 - Mr.Phong</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 padd0">
                    <div class="navbar-wrapper">
                        <nav class="navbar navbar-static-top menu-main">
                            <div class="container">
                                <div class="navbar-header">
                                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                </div>
                                <div class="navbar-collapse collapse" id="navbar">
                                    <ul class="nav navbar-nav">
                                        <li><a href="@Url.Action("index", "Home" )">@Resource.HomePage</a></li>
                                        <li><a href="@Url.Action("about", "Home" )">@Resource.AboutUs</a></li>
                                        <li><a href="@Url.Action("index", "Home" )">@Resource.Products</a></li>
                                        <li><a href="@Url.Action("news", "Home" )">@Resource.News</a></li>
                                        <li><a href="@Url.Action("contact", "Home" )">@Resource.ContactUs</a></li>
                                       
                                    </ul>


                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </header>
            <div class="main-content">
                <div class="col-md-12 col-lg-12 padd0">
                    <div class="box-newsslider col-md-12 col-lg-12 padd0">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="@Url.Content("~/Content/FontEnd/images/1.jpg")" class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>
                                            CÔNG TY CỔ PHẦN THƯƠNG MẠI CƠ KHÍ TÂN PHONG
                                        </h3>
                                        <p>
                                            Địa chỉ: Phòng 606, Tòa nhà Indochina Park Tower.
                                            Số 4 Nguyễn Đình Chiểu,P. Đa Kao, Q.1,TP.HCM
                                        </p>

                                    </div>
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/Content/FontEnd/images/2.jpg")" class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>
                                            CÔNG TY CỔ PHẦN THƯƠNG MẠI CƠ KHÍ TÂN PHONG
                                        </h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/Content/FontEnd/images/3.jpg")" class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>
                                            CÔNG TY CỔ PHẦN THƯƠNG MẠI CƠ KHÍ TÂN PHONG
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">
                                    Previous
                                </span>
                            </a><a class="right carousel-control" href="#myCarousel" role="button"
                                   data-slide="next">
                                <span class="fa fa-chevron-right" aria-hidden="true">
                                </span><span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 margintop5 padd0">
                    
                    <div class="col-md-5 col-lg-5">
                        @RenderBody()

                    </div>
                    <div class="col-md-6 col-lg-6" style="padding-top:40px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8751227046437!2d106.73804641525601!3d10.897093959933459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d83de8fffe63%3A0xb6c8677ea23917e7!2zS2h1IEPDtG5nIE5naGnhu4dwIFPDs25nIFRo4bqnbg!5e0!3m2!1sen!2s!4v1452761250379" width="650" height="580" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            </div>
            <footer>
                <div class="col-md-12 col-lg-12 padd0" style="background: #72cde1;">
                    <div class="col-md-9 col-lg-9 col-md-offset-2 col-lg-offset-2 padd0">
                        <div class="navbar-wrapper">
                            <nav class="navbar navbar-static-top footer-menu">
                                <div id="Div1" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="@Url.Action(" index", "Home" )">@Resource.HomePage</a></li>
                                        <li><a href="@Url.Action(" about", "Home" )">@Resource.AboutUs</a></li>
                                        <li><a href="@Url.Action(" index", "Home" )">@Resource.Products</a></li>
                                        <li><a href="@Url.Action(" news", "Home" )">@Resource.News</a></li>
                                        <li><a href="@Url.Action(" contact", "Home" )">@Resource.ContactUs</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="bg-footer col-md-12 col-lg-12 padd0">
                    <div class="text-center" style=" padding-bottom: 15px;">
                        <p class="name-company">CÔNG TY CỔ PHẦN THƯƠNG MẠI CƠ KHÍ TÂN PHONG</p>
                        <p class="address-company">Địa chỉ: Phòng 606, Tòa nhà Indochina Park Tower.</p>
                        <p class="address-company">Số 4 Nguyễn Đình Chiểu,P. Đa Kao, Q.1,TP.HCM</p>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <div class="modal fade" id="modalShowError" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Thông Báo</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMessageModal">Thông Báo</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>

    </div>

    <div id="divAdRight" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
        <a href="#"><img src="@Url.Content("~/Content/FontEnd/images/s2.png")" width="68px" /></a>
    </div>
    <div id="divAdLeft" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
        <a href="#"><img src="@Url.Content("~/Content/FontEnd/images/s1.png")" width="68px" /></a>
    </div>

    <script>

    function FloatTopDiv()
    {
        startLX = ((document.body.clientWidth -MainContentW)/2)-LeftBannerW-LeftAdjust , startLY = TopAdjust+80;
        startRX = ((document.body.clientWidth -MainContentW)/2)+MainContentW+RightAdjust , startRY = TopAdjust+80;
        var d = document;
        function ml(id)
        {
            var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
            el.sP=function(x,y){this.style.left=x + 'px';this.style.top=y + 'px';};
            el.x = startRX;
            el.y = startRY;
            return el;
        }
        function m2(id)
        {
            var e2=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
            e2.sP=function(x,y){this.style.left=x + 'px';this.style.top=y + 'px';};
            e2.x = startLX;
            e2.y = startLY;
            return e2;
        }
        window.stayTopLeft=function()
        {
            if (document.documentElement && document.documentElement.scrollTop)
                var pY =  document.documentElement.scrollTop;
            else if (document.body)
                var pY =  document.body.scrollTop;
             if (document.body.scrollTop > 30){startLY = 3;startRY = 3;} else  {startLY = TopAdjust;startRY = TopAdjust;};
            ftlObj.y += (pY+startRY-ftlObj.y)/16;
            ftlObj.sP(ftlObj.x, ftlObj.y);
            ftlObj2.y += (pY+startLY-ftlObj2.y)/16;
            ftlObj2.sP(ftlObj2.x, ftlObj2.y);
            setTimeout("stayTopLeft()", 1);
        }
        ftlObj = ml("divAdRight");
        //stayTopLeft();
        ftlObj2 = m2("divAdLeft");
        stayTopLeft();
    }
    function ShowAdDiv()
    {
        var objAdDivRight = document.getElementById("divAdRight");
        var objAdDivLeft = document.getElementById("divAdLeft");
        if (document.body.clientWidth < 1000)
        {
            objAdDivRight.style.display = "none";
            objAdDivLeft.style.display = "none";
        }
        else
        {
            objAdDivRight.style.display = "block";
            objAdDivLeft.style.display = "block";
            FloatTopDiv();
        }
    }
    </script>
    <script>

document.write("<script type='text/javascript' language='javascript'>MainContentW = 1170;LeftBannerW =70;RightBannerW = 125;LeftAdjust = 5;RightAdjust = 5;TopAdjust = 10;ShowAdDiv();window.onresize=ShowAdDiv;;<\/script>");

    </script>

</body>
</html>